:root {
    --font-one: "Open Sans", serif;
    --font-two: "Questrial", serif;

/*Colors*/
    --purple:  #6b63b5;
    --dark-purple: #514a92;
    --nav-purple: #242633;
    --nav-black: #10141b;

}